.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form {
    background-color: var(--bgSoft);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
  }
  
  .label {
    margin-bottom: 8px;
    font-weight: bold;
  }
  
  .select, .input {
    background-color: var(--bg);
    color: var(--text) ;
    margin-bottom: 16px;
    padding: 10px;
    border: 2px solid #2e374a ;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .button {
    padding: 10px;
    background-color: teal;
    color: var(--text);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  